/*Create styles for the nav bar, background, text, and images*/
/*# represents an id for one unique element*/
/*. represents a class for multiple elements*/
/*Use flexbox to chunk up the header and sections into columns*/

body {
  background-color: mintcream;
  max-width: 960px;

  /* sit centrally within parent container
  https://stackoverflow.com/questions/3170772/what-does-auto-do-in-margin-0-auto*/
  margin: 0 auto;
}

img {
  max-width: 960px;
  border-radius: 25px;
}

header {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 20px;
}

blockquote {
  font-size: 18px;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
  border-radius: 25px;
}

#navbar li {
  display: inline-block;
  font-size: 20px;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: mediumseagreen;
}

.active {
  background-color: green;
}

.align-left {
  text-align: left;
}

/*float the name to the right*/
.name {
  margin-left: auto;
}

/*divide the picture and text uniformly*/
.section-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: left;
  align-items: center;
  gap: 10px;

  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 25px;
  padding: 20px;
}

/*make the pictures smaller at different breakpoints*/
@media screen and (max-width: 1680px),
screen and (max-height: 1050px) {
  .section-item img {
    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 1024px),
screen and (max-height: 768px) {
  .section-item img {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 480px),
screen and (max-height: 320px) {
  .section-item img {
    width: 80px;
    height: 80px;
  }
}